.DS_Store
__pycache__
*.pyc
.ipynb_checkpoints
.ipython
.local
.out/
.err/
crash*
behavioral_data
fmri_experiments/temp_tasklist.json
fmri_analysis/data_settings.txt
fmri_analysis/output
fmri_analysis/Data/sub*
fmri_preproc/*task_list.sh
singularity_images/*img
nilearn_cache*
nilearn_data*
nipype_mem*
.spyproject
dockerfile_old
.vscode/
behavioral_data_prep/Untitled.ipynb
docker_path.txt
fmri_analysis/scripts/Untitled.ipynb
*Untitled*.ipynb
*/*Untitled*.ipynb
*/*/*Untitled*.ipynb
*.err*
*.out*
fmri_analysis/fsl/tmp_batch/*
fmri_data_prep/scitran/
